In [1]:
import pandas as pd

In [2]:
person = {
    "first":"Corey",
    "last":"Schafer",
    "email":"CoreySchafer@gmail.com"
}

In [3]:
ds = pd.Series(person)
ds

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
dtype: object

In [4]:
people = {
    "first":["Corey"],
    "last": ["Schafer"],
    "email":["CoreySchafer@gmail.com"]
}

In [5]:
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com

In [6]:
# Define a dictionary containing lists of data
people = {
    "first":["Corey","Jane","John"],
    "last": ["Schafer","Doe","Doe"],
    "email":["CoreySchafer@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com"]
}

In [7]:
# Create a DataFrame using the dictionary
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [8]:
# Retrieve the column names 
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [9]:
# Retrieve the 'email' column
df["email"]

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [10]:
# Check the type of the 'email' column, which is a pandas Series
type(df["email"])

pandas.core.series.Series

In [11]:
# Retrieve the 'email' and 'last' columns from the DataFrame as a new DataFrame
df[["email","last"]]

                    email     last
0  CoreySchafer@gmail.com  Schafer
1       JaneDoe@gmail.com      Doe
2       JohnDoe@gmail.com      Doe

In [12]:
# Retrieve the first row of the DataFrame using integer-location based indexing (iloc)
df.iloc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [13]:
# Retrieve the first and second rows of the DataFrame using a list of indices
df.iloc[[0,1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [14]:
# Retrieve the value at the intersection of the first row and second column using iloc
df.iloc[0,1]

'Schafer'

In [15]:
# Retrieve values at the intersection of the first and second rows, and the third column using iloc
df.iloc[[0,1], 2]

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
Name: email, dtype: object

In [16]:
# Retrieve the row with label '0' from the DataFrame using label-based indexing (loc)
df.loc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [17]:
# Retrieve rows with labels '0' and '1' from the DataFrame using a list of labels
df.loc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [18]:
# Retrieve the 'email' column for rows with labels '0' and '1' from the DataFrame
df.loc[[0, 1], "email"]

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
Name: email, dtype: object

In [19]:
# Retrieve the 'email' and 'last' columns for rows with labels '0' and '1' from the DataFrame
df.loc[[0, 1], ["email", "last"]]

                    email     last
0  CoreySchafer@gmail.com  Schafer
1       JaneDoe@gmail.com      Doe

In [20]:
# Retrieve rows with labels from '0' to '1' (inclusive),
# and columns with labels from 'last' to 'email' (inclusive)

df.loc[0:1,"last":"email"]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@gmail.com

In [21]:
# Set the 'email' column as the new index of the DataFrame in place
df.set_index("email", inplace=True)

In [22]:
df

                        first     last
email
CoreySchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com        Jane      Doe
JohnDoe@gmail.com        John      Doe

In [23]:
# Access the index (row labels) of the DataFrame
df.index

Index(['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com'], dtype='object', name='email')

In [24]:
# Access the 'last' name of the row where the index is 'CoreySchafer@gmail.com'
df.loc["CoreySchafer@gmail.com", "last"]

'Schafer'

In [25]:
df.reset_index(inplace=True)
df

                    email  first     last
0  CoreySchafer@gmail.com  Corey  Schafer
1       JaneDoe@gmail.com   Jane      Doe
2       JohnDoe@gmail.com   John      Doe