In [1]:
import pandas as pd

# Define a dictionary containing lists of data
people = {
    'first':['Corey','Jane','John'],
    'last': ['Schafer','Doe','Doe'],
    'email':['CoreySchafer@gmail.com','JaneDoe@gmail.com','JohnDoe@gmail.com']
}

# Create a DataFrame using the dictionary
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [2]:
# Sort DataFrame by 'last' column in descending order
df.sort_values(by='last',ascending=False)

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [3]:
 # Sort DataFrame by 'last' column first, then by 'first' column, both in descending order
df.sort_values(by=['last','first'],ascending=False)

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
2   John      Doe       JohnDoe@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [4]:
# Sort DataFrame by 'last' column descending and 'first' column ascending, modifying df in place
df.sort_values(by=['last','first'],ascending=[False,True], inplace=True)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [5]:
# Sort DataFrame by index (row labels) in ascending order
df.sort_index()

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [6]:
# Sort the 'last' column of the DataFrame df in ascending order
df['last'].sort_values()

1        Doe
2        Doe
0    Schafer
Name: last, dtype: object